html,
body {
  height: 100%;
  margin: 0;
  user-select: none;
  -webkit-user-select: none;
}

body {
  background: linear-gradient(
    225deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(18, 18, 18, 1) 55%,
    rgba(17, 17, 17, 1) 100%
  );
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.App {
  height: 100vh;
  padding: 2rem;
  box-sizing: border-box;
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  font-family: "Source Code Pro", monospace;
  overflow-x: hidden;
}

.App::-webkit-scrollbar {
  display: none;
}
